<section class="min-h-screen flex items-center justify-center bg-slate-900 text-white p-6">
  @if (pokemon.loadingDetail()) {
    <p class="text-lg">Cargando Pokémon...</p>
  }

  @if (pokemon.detail(); as pkm) {

    <div class="bg-slate-800 rounded-2xl shadow-xl p-8 max-w-xl w-full">
      <h2 class="text-3xl font-bold mb-4 text-center">
        {{ pkm.name | titlecase }}
      </h2>

      <div class="flex flex-col items-center mb-6">
        <img
          class="w-40 h-40 mb-4"
          [src]="pkm.sprites.front_default"
          alt="Imagen de {{ pkm.name }}"
        />
        <ul class="flex gap-3 flex-wrap justify-center">
          @for (t of pkm.types; track t.slot) {
            <li class="px-3 py-1 bg-purple-600 rounded-full text-sm">
              {{ t.type.name | titlecase }}
            </li>
          }
        </ul>
      </div>

      <div class="space-y-2 text-slate-200">
        <p><strong>Altura:</strong> {{ pkm.height }}</p>
        <p><strong>Peso:</strong> {{ pkm.weight }}</p>
        <p><strong>Experiencia base:</strong> {{ pkm.base_experience }}</p>
      </div>
    </div>

  }
</section>
